@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

body{
  background-color: white;

}

*{
  margin: 0;
  padding: 0;
}

nav{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

nav ul{
  display: flex;
  list-style-type: none;
  background-color: #16213E;
  height: 45px;
  color: white;
  align-items: center;
  gap: 20px;
  
}


nav li:hover{
  color: #0F3460;
  border: 2px solid white;
}

img{
   width: 35px;
  padding: 0 7px;
  background-color: white;
  margin-right: 10px;
  
}

.brand{
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.3rem;
  
}

.container{
  min-height: 85vh;
  background-color: black;
  color: white; 
  display: flex;
  margin: 23px auto;
  width: 80%;
  border-radius: 12px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.bottomside{
 height: 130px;
position: sticky;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons{
  margin-top: 15px;
  margin-left: 20px;
  }


#range{
  width: 85vw;
  cursor: pointer;
  }

.icons i{
  font-size: 20px;
  cursor: pointer;
  }


.songlist h1{
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  padding-left: 20px;
  
  }


.songitem{
  background-color: white;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  border-radius: 16px;
  width: 300px;

  }

  .space{
    padding: 0px 10px;
    }

.songitem img{
  border-radius: 34px;
  
  }


.songlistplay i{
  cursor: pointer;
}


.songgif{
  margin: 0px 10px;
  position: absolute;
  left: 0;
  font-size: 0.85rem;
  padding-top: 27px;
  font-family: "Poppins", sans-serif;
  }
  